@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Orbitron:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #040403;
	--secondary: #00ff04;
	--accent: #f87171;
	--background: #ffffff;
	--foreground: #e6be30;
	--border: #000000;
	--card: #000;
	--button-bg: #000000;
	--card-foreground: #030303;
	--button-text: #ffffff;
	--button-green: #22c55e;
	--button-yellow: #facc15;
	--button-red: #ef4444;
	--muted: #dde1e8;
	--muted-foreground: #c1cbde;
	--stat-bg: #000;
	--stat-border: #22c55e;
	--stat-yellow: #facc15;
	--stat-red: #ef4444;
	--footer: #000000b7;
	--ring: #c084fc;
}

.dark {
	--background: #ffffff;
	--foreground: #e7b52a;
	--card: #000;
	--card-foreground: #030302;
	--popover: #262626;
	--popover-foreground: #f5f5f5;
	--primary: #040403;
	--primary-foreground: #1a1a1a;
	--secondary: #22c55e;
	--secondary-foreground: #1a1a1a;
	--muted: #374151;
	--muted-foreground: #c1cbde;
	--accent: #f87171;
	--accent-foreground: #1a1a1a;
	--destructive: #ef4444;
	--border: #374151;
	--input: #374151;
	--ring: #c084fc;
	--sidebar: #262626;
	--sidebar-foreground: #f5f5f5;
	--sidebar-primary: #c084fc;
	--sidebar-primary-foreground: #f5f5f5;
	--sidebar-accent: #374151;
	--sidebar-accent-foreground: #f5f5f5;
	--sidebar-border: #c084fc;
	--sidebar-ring: #c084fc;
	--footer: #000000b7;
}

.light {
	--background: #d5d640;
	--foreground: #1a1a1a;
	--card: #d5d640;
	--card-foreground: #1a1a1a;
	--popover: #f9fafb;
	--popover-foreground: #1a1a1a;
	--primary: #9b44f2;
	--primary-foreground: #000000;
	--secondary: #5a2ca5;
	--secondary-foreground: #000000;
	--accent: #5a2ca5;
	--accent-foreground: #000000;
	--destructive: #ef4444;
	--muted: #f3f4f6;
	--muted-foreground: #2a2e34;
	--border: #e5e7eb;
	--input: #e5e7eb;
	--ring: #9333ea;
	--sidebar: #ffffff;
	--sidebar-foreground: #1a1a1a;
	--sidebar-primary: #9333ea;
	--sidebar-primary-foreground: #ffffff;
	--sidebar-accent: #e5e7eb;
	--sidebar-accent-foreground: #1a1a1a;
	--sidebar-border: #9333ea;
	--sidebar-ring: #9333ea;
	--title-shadow: #1b150f;
}
