@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Orbitron:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--button-green: #22c55e;
	--button-yellow: #facc15;
	--button-red: #ef4444;
	--muted-foreground: #c1cbde;
	--ring: #c084fc;
	--footer: #000000b7;
}

.light {
	--background: #ffffff;
	--foreground: #e7b52a;
	--bg: #ffffff;
	--surface: #f5f5f5;
	--primary: #040403;
	--accent: #f87171;
	--secondary: #22c55e;
	--badge: #facc15;
	--border: #374151;
	--text-primary: #1a1a1a;
	--text-secondary: #374151;
	--card: #000;
	--card-foreground: #030302;
	--popover: #262626;
	--popover-foreground: #f5f5f5;
	--muted: #374151;
	--destructive: #ef4444;
	--input: #374151;
	--sidebar: #262626;
	--sidebar-foreground: #f5f5f5;
	--sidebar-primary: #c084fc;
	--sidebar-primary-foreground: #f5f5f5;
	--sidebar-accent: #374151;
	--sidebar-accent-foreground: #f5f5f5;
	--sidebar-border: #c084fc;
	--sidebar-ring: #c084fc;
	--background-image: url("/backgrounds/bg-light.png");
}

.dark {
	--background: #141420;
	--foreground: #f5f5f5;
	--bg: #141420;
	--surface: #1c1c2a;
	--primary: #62d8e2;
	--accent: #e870a7;
	--secondary: #f18e5d;
	--badge: #bca4e2;
	--border: #3c3c4a;
	--text-primary: #f5f5f5;
	--text-secondary: #aaaaaa;
	--card: #1c1c2a;
	--card-foreground: #f5f5f5;
	--popover: #262626;
	--popover-foreground: #f5f5f5;
	--muted: #3c3c4a;
	--muted-foreground: #aaaaaa;
	--destructive: #ef4444;
	--input: #3c3c4a;
	--sidebar: #1c1c2a;
	--sidebar-foreground: #f5f5f5;
	--sidebar-primary: #62d8e2;
	--sidebar-primary-foreground: #f5f5f5;
	--sidebar-accent: #e870a7;
	--sidebar-accent-foreground: #f5f5f5;
	--sidebar-border: #3c3c4a;
	--sidebar-ring: #bca4e2;
	--background-image: url("/backgrounds/bg-dark.png");
}

body {
	@apply transition-colors duration-500;
}
